<!--Image-->

<div  class="list-group-item row" >
    <h1>{{contact.name}}</h1>
 
    <div class="row">
        
        <div class="pull-left col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{contact.imageUrl}}">
        </div>
        <div class="pull-right">
            <a [routerLink]="['edit']" class="btn btn-primary">Edit: </a>
            <a (click)="onDelete()" class="btn btn-danger">Delete:</a>
        </div>
        
        
    </div>

    <div class="item">  
        
        <div class="row">
        <div>Email: {{contact.email}}</div>
        <div>Phone: {{contact.phone}}</div>
            
        </div>
        
 
    </div>
    
    <!--div class="row">
        <div class="col-md-12">

            <p>Email: {{contact.email}}</p>
            <p>Phone Number:{{contact.phone}}</p>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div-->

    <div>
        <div>

        </div>
    </div>
</div>
