<div class="row">
    <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <span class="title pad-left-right">Contacts</span>
              </div>
              <div class="row">
                <div class="input-group pull-left pad-left-right col-xs-7">
                  <input type="text" class="form-control" #searchBox (keyup)="search(searchBox.value)" placeholder="Enter a search value...">
                  <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
                </div>
                <div class="pull-right pad-left-right">
                  <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col-xs-12" >

            <cms-contact-item *ngFor="let contact of contacts | contactsFilter: term " [contact]="contact" (click)="onSelectItem(contact)" 
            dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']">
            
            </cms-contact-item>

        </div>
    </div>
</div>

