<nav class="navbar navbar-defult">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">WeLearn Cms</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelected('documents')">Documents</a></li>
                <li><a href="#" (click)="onSelected('messages')">Messages</a></li>
                <li><a href="#" (click)="onSelected('contacts')">Contacts</a></li>
            </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
                <a href="#" class="dropdown-toggle" role="button">User <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>Save Data</li>
                    <li>Fetch Data</li>
                </ul>
              
            </li>
        </ul>
        </div>
    </div>
</nav>